flows.json
[
    {
        "id": "19a06addca15f367",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb83517b.a5e1e",
        "type": "debug",
        "z": "19a06addca15f367",
        "name": "Display msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "3be047fd.f44378",
        "type": "inject",
        "z": "19a06addca15f367",
        "name": "msg.payload Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 201.99988555908203,
        "y": 231.19997215270996,
        "wires": [
            [
                "deecd2bb.11469"
            ]
        ]
    },
    {
        "id": "deecd2bb.11469",
        "type": "iot-simulator",
        "z": "19a06addca15f367",
        "name": "",
        "options": [
            {
                "label": "Temperature",
                "value": "30",
                "range": "10"
            },
            {
                "label": "Air_Quality",
                "value": "40",
                "range": "10"
            },
            {
                "label": "UV_Index",
                "value": "6",
                "range": "5"
            }
        ],
        "preOptions": [
            {
                "label": "Temperature",
                "value": "30",
                "range": "10"
            },
            {
                "label": "Air_Quality",
                "value": "40",
                "range": "10"
            }
        ],
        "timestamp": true,
        "allinone": false,
        "optionEdited": true,
        "x": 420.99999237060547,
        "y": 233.06667232513428,
        "wires": [
            [
                "cb83517b.a5e1e",
                "c077ade6.ec0a",
                "792c5f60226346d8"
            ]
        ]
    },
    {
        "id": "c077ade6.ec0a",
        "type": "function",
        "z": "19a06addca15f367",
        "name": "Payload Split",
        "func": "var msg1 = null\nif ( msg.payload[\"Temperature\"] !== undefined) {\n   msg1 = {};\n   msg1.payload = msg.payload[\"Temperature\"];\n}\n\nvar msg2 = null\nif ( msg.payload[\"Air_Quality\"] !== undefined){\n   msg2 = {};\n   msg2.payload = msg.payload[\"Air_Quality\"];\n}\n\nvar msg3 = null\nif ( msg.payload[\"UV_Index\"] !== undefined){\n   msg3 = {};\n   msg3.payload = msg.payload[\"UV_Index\"];\n}\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 583.9999771118164,
        "y": 284.26664638519287,
        "wires": [
            [
                "18af797e.554067"
            ],
            [
                "661f5e00.71c9b4"
            ],
            [
                "9e42205.31f5ae"
            ]
        ]
    },
    {
        "id": "18af797e.554067",
        "type": "ui_gauge",
        "z": "19a06addca15f367",
        "name": "Temperature",
        "group": "5b9e6fe9.d44e3",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 749.0001907348633,
        "y": 237.06666564941406,
        "wires": []
    },
    {
        "id": "661f5e00.71c9b4",
        "type": "ui_chart",
        "z": "19a06addca15f367",
        "name": "Air Quality",
        "group": "5b9e6fe9.d44e3",
        "order": 1,
        "width": "4",
        "height": "4",
        "label": "Air Quality",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 746.0001640319824,
        "y": 294.0666980743408,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9e42205.31f5ae",
        "type": "ui_gauge",
        "z": "19a06addca15f367",
        "name": "",
        "group": "5b9e6fe9.d44e3",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "UV Index",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "x": 737.2233200073242,
        "y": 358.6275520324707,
        "wires": []
    },
    {
        "id": "792c5f60226346d8",
        "type": "mqtt-plus out",
        "z": "19a06addca15f367",
        "name": "ny-10001/sensor1",
        "topic": "ny-10001/sensor1",
        "qos": "0",
        "retain": "false",
        "broker": "48e8062d9c413a95",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5b9e6fe9.d44e3",
        "type": "ui_group",
        "name": "SensorData",
        "tab": "a1882c32.fc82a",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "48e8062d9c413a95",
        "type": "mqtt-plus-broker",
        "name": "Kitacoba",
        "broker": "wss://mqtt.flespi.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a1882c32.fc82a",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]